.button
  background-color: #fff
  border: 1px solid #fff
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1)
  color: #222
  cursor: pointer
  display: inline-block
  font-family: "Harmonia Sans Pro", sans-serif
  font-size: 15px
  font-weight: 600
  height: 60px
  line-height: 18px
  min-width: 192px
  padding: 15px 20px
  text-decoration: none
  text-align: center
  transition: color 0.3s, background-color 0.3s, opacity 0.3s, border-color 0.3s
  vertical-align: middle

  &:hover,
  &:focus,
  &:active
    background-color: #9ea1bd
    border-color: #9ea1bd
    color: #fff
    text-decoration: none

  &--dark
    background-color: #a3a3ff
    border-color: #a3a3ff
    color: #fff

    &:hover,
    &:focus
      opacity: 0.7

  &--bordered
    border: 1px solid #7b7faa

    &:hover
      background-color: #a3a3ff
      border-color: #a3a3ff
      opacity: 0.7

  &:focus
    box-shadow: none
    outline: 1px dotted #7b7faa

  &:disabled,
  &.disabled
    cursor: default
    opacity: 0.5

    &:focus
      outline: none

a.button
  align-items: center
  display: inline-flex
  justify-content: center
