.form-popup
  display: none

  &.fancybox-content
    padding: 24px

    @media(min-width: 1200px)
      padding: 48px

  @media(min-width: 768px)
    width: 660px

  &--big
    @media(min-width: 992px)
      width: 880px

    @media(min-width: 1200px)
      width: 1024px

    @media(min-width: 1600px)
      width: 1152px

  &__title
    color: #222
    font-size: 26px

    @media(min-width: 768px)
      font-size: 34px

  &__section
    margin-bottom: 10px

    &:last-child
      @media(min-width: 768px)
        margin-bottom: 0

  &__subtitle
    font-size: 20px
    font-weight: 700
    margin-bottom: 5px

  &__label
    display: block
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

  &__row
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

    @media(min-width: 768px)
      display: flex

    & > div
      margin-bottom: 5px      
      @media(min-width: 768px)
        width: 50%

      &:first-child
        @media(min-width: 768px)
          margin-bottom: 0
          padding-right: 10px

        @media(min-width: 1200px)
          padding-right: 20px

      &:last-child
        @media(min-width: 768px)
          margin-bottom: 0
          padding-left: 10px

        @media(min-width: 1200px)
          padding-left: 20px

  &__caption
    color: #97999b
    font-size: 12px
    line-height: 1.3
    margin-top: 10px

    @media(min-width: 768px)
      margin-top: 0

  &__button-block
    text-align: center

  &__button
    max-width: 320px
    width: 100%

.booking-step
  display: none

  &.is-active
    display: block

  .form-popup__row
    & > div
      display: flex
      flex-direction: column

  .form-popup__button-block
    margin-top: auto
    text-align: left

    .button
      max-width: 100%
      width: 100%

.booking-result-form
  max-width: 600px
  margin-left: auto
  margin-right: auto

.inline-radio
  @media(min-width: 768px)
    display: flex
    margin-bottom: 10px

  .radio-label
    @media(min-width: 768px)
      margin-bottom: 0
      margin-right: 15px
      min-width: 80px

    &:last-child
      @media(min-width: 768px)
        margin-right: 0
