.form-popup
  display: none

  &.fancybox-content
    padding: 24px

    @media(min-width: 768px)
      padding: 48px

  @media(min-width: 768px)
    width: 660px

  &--big
    @media(min-width: 1200px)
      width: 1024px

    @media(min-width: 1600px)
      width: 1152px

  &__title
    color: #222
    font-size: 26px

    @media(min-width: 768px)
      font-size: 34px

  &__label
    display: block
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

  &__button-block
    text-align: center

  &__button
    max-width: 320px
    width: 100%
