body
  color: #222
  font-family: "Harmonia Sans Pro", sans-serif
  font-size: 15px
  line-height: 1.6

  @media(min-width: 1200px)
    font-size: 16px
    line-height: 1.888

*
  &:focus
    box-shadow: none !important
    outline: none !important

a
  color: #222

  &:hover
    text-decoration: underline

b
  font-weight: 700

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6
  //color: #222
  font-weight: 400
  line-height: 1.2
  margin-top: 0

h1,.h1,
h2,.h2
  font-size: 30px
  margin-bottom: 35px

  @media(min-width: 768px)
    font-size: 38px

h3,.h3
  font-size: 15px
  font-weight: 500

  @media(min-width: 768px)
    font-size: 18px

.bordered-title
  font-size: 15px
  line-height: 1.6
  text-align: center

  &__text
    border-bottom: 2px solid currentColor
    display: inline-block
    padding-bottom: 5px
    vertical-align: top

ul
  list-style-type: '– '
  list-style-position: inside
  padding-left: 0

ol
  list-style-position: inside
  padding-left: 0

h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6,
p,
ul,
ol,
table,
.table-responsive
  margin-top: 0
  margin-bottom: 20px

  @media(min-width: 1200px)
    margin-bottom: 30px

  &:last-child
    margin-bottom: 0

table
  border-collapse: collapse
  max-width: 100%
  text-align: left
  width: 100%

  th
    color: #b8b8b8
    font-weight: 400

  th,
  td
    border: 1px solid #ccc
    padding: 5px
    vertical-align: top

img
  height: auto
  max-width: 100%
  vertical-align: top

.text-block1,
.text-block2,
.text-block3,
.text-block4,
.text-block5,
.text-block6,
.text-block8
  margin-top: 40px
  margin-bottom: 40px

  @media(min-width: 768px)
    margin-top: 80px
    margin-bottom: 80px

  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0

.text-block1
  &__inner
    background-color: #fff
    padding: 24px

    @media(min-width: 768px)
      padding: 48px

    @media(min-width: 1200px)
      padding: 62px

  &__title
    color: #222
    font-size: 26px
    line-height: 1.2
    margin-bottom: 35px
    text-align: center

    @media(min-width: 768px)
      font-size: 30px

    @media(min-width: 1200px)
      font-size: 38px

.text-block2
  align-items: center
  color: #222
  display: flex
  font-size: 20px
  justify-content: center
  line-height: 1.5
  min-height: 220px
  position: relative
  text-align: center

  @media(min-width: 768px)
    font-size: 24px
    max-width: 76%
    margin-left: auto
    margin-right: auto

  @media(min-width: 1200px)
    font-size: 28px
    min-height: 331px

  &::after,
  &::before
    content: ""
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    z-index: -1

  &::before
    background-color: #f3f7f6
    height: 168px
    width: 168px

    @media(min-width: 1200px)
      height: 256px
      width: 256px

  &::after
    background: url("../images/backgrounds/bg_4.png") no-repeat 0 0 / 122px 218px transparent
    height: 218px
    width: 122px

    @media(min-width: 1200px)
      background-size: 185px 331px
      height: 331px
      width: 185px

.text-block3
  @media(min-width: 960px)
    display: flex

  &__text
    background-color: #fff
    padding: 24px

    @media(min-width: 768px)
      padding: 48px

    @media(min-width: 1200px)
      padding: 62px

  &__title
    color: #222
    font-size: 26px
    line-height: 1.2
    margin-bottom: 35px

    @media(min-width: 768px)
      font-size: 30px

    @media(min-width: 1200px)
      font-size: 38px

  &__image-block
    overflow: hidden
    position: relative
    text-align: center

    @media(min-width: 960px)
      min-width: 39%

  &__image
    @media(min-width: 960px)
      height: 100%
      left: 50%
      min-width: 100%
      object-fit: cover
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)
      width: auto

  a
    color: #9ea1bd

    &:hover
      text-decoration: none

.text-block4
  @media(min-width: 960px)
    display: flex

  & + .gallery
    margin-top: -40px

    @media(min-width: 768px)
      margin-top: -80px

  &__text
    background-color: #fff
    padding: 24px

    @media(min-width: 768px)
      padding: 48px

    @media(min-width: 960px)
      display: flex
      flex-direction: column
      justify-content: center

    @media(min-width: 1200px)
      padding: 62px

    &--big_paddings
      @media(min-width: 1400px)
        padding: 96px

  &__image-block
    overflow: hidden
    position: relative
    text-align: center

    @media(min-width: 960px)
      min-width: 50%
      padding-bottom: 50%

  &__image
    @media(min-width: 960px)
      height: 100%
      left: 50%
      min-width: 100%
      object-fit: cover
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)
      width: auto

.text-block5
  align-items: center
  color: #222
  display: flex
  font-size: 20px
  justify-content: center
  line-height: 1.5
  min-height: 168px
  position: relative
  text-align: center

  @media(min-width: 768px)
    font-size: 24px
    max-width: 76%
    margin-left: auto
    margin-right: auto

  @media(min-width: 1200px)
    font-size: 38px
    min-height: 220px

  &::before
    background: url("../images/backgrounds/bg_11.png") no-repeat 0 0 / 168px 168px transparent
    content: ""
    height: 168px
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: 168px
    z-index: -1

    @media(min-width: 1200px)
      background-size: 220px 220px
      height: 220px
      width: 220px

.text-block6
  align-items: center
  color: #222
  display: flex
  font-size: 20px
  justify-content: center
  line-height: 1.5
  min-height: 160px
  position: relative
  text-align: center

  @media(min-width: 768px)
    font-size: 24px
    max-width: 76%
    margin-left: auto
    margin-right: auto

  @media(min-width: 1200px)
    font-size: 28px

  &::after,
  &::before
    content: ""
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    z-index: -1

  &::before
    background-color: #f3f7f6
    height: 128px
    width: 256px

  &::after
    background: url("../images/backgrounds/bg_12.png") no-repeat 0 0 / 134px 160px transparent
    height: 160px
    width: 134px

.text-block7
  margin-top: 40px

  @media(min-width: 768px)
    margin-top: 80px

  @media(min-width: 960px)
    display: flex

  &__text
    background-color: #fff
    color: #222
    padding: 24px

    @media(min-width: 768px)
      padding: 48px

    @media(min-width: 960px)
      display: flex
      flex-direction: column
      justify-content: center

    @media(min-width: 1200px)
      padding: 62px

  &__image-block
    background-color: #c7c7ff
    background-position: 50% 100%
    background-size: auto 90%
    background-repeat: no-repeat

    @media(min-width: 960px)
      min-width: 50%
      padding-bottom: 50%

.text-block8
  color: #222
  font-size: 20px
  line-height: 1.5
  text-align: center

  @media(min-width: 768px)
    font-size: 24px
    max-width: 76%
    margin-left: auto
    margin-right: auto

  @media(min-width: 1200px)
    font-size: 28px

.video
  display: block
  margin-left: auto
  margin-right: auto
  margin-top: 40px
  margin-bottom: 40px
  max-width: 640px
  position: relative
  text-decoration: none

  @media(min-width: 768px)
    margin-top: 120px
    margin-bottom: 120px

  //&::after
    background-color: #7b7faa
    content: ""
    height: 100%
    left: 0
    opacity: 0.7
    position: absolute
    top: 0
    width: 100%
    z-index: 1

  &::before
    @media(min-width: 768px)
      background-color: #e6e8f6
      content: ""
      height: 500px
      left: 50%
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)
      width: 500px
      z-index: -1

  &__button
    align-items: center
    border-radius: 50%
    border: 2px solid #fff
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.5)
    color: #fff
    display: flex
    font-size: 16px
    height: 96px
    justify-content: center
    left: 50%
    position: absolute
    text-shadow: 0 1px 1px rgba(0,0,0,1)
    top: 50%
    transform: translate(-50%, -50%)
    width: 96px
    z-index: 2
