<div id="bookingForm" class="form-popup">
  <p class="form-popup__title">Заполните поля:</p>
  <p>Наш менеджер свяжется с вами для консультации.</p>
  <form action="">
    <input name="program_name" type="hidden" value="On-line бронирование">
    <label class="form-popup__label" for="booking_name">
      <input id="booking_name" class="input input--dark" name="name_cons" type="text" value="" placeholder="Имя" tabindex="-1">
    </label>
    <label class="form-popup__label" for="booking_phone">
      <input id="booking_phone" class="input input--dark" name="phone_cons" type="text" value="" placeholder="Телефон">
    </label>
    <label class="form-popup__label" for="booking_email">
      <input id="booking_email" class="input input--dark" name="email_cons" type="text" value="" placeholder="E-mail">
    </label>
    <div class="form-popup__row">
      <div>
        <input id="booking_email" class="input input--dark" name="email_cons" type="text" value="" placeholder="Введите название клиники">
      </div>
      <div>
        <p class="form-popup__caption">Хотите сохранить персональную скидку из другого медицинского учреждения?<br> Укажите её название, наш отдел бронирования сделать вам персональное предложение!</p>
      </div>
    </div>
    <div class="form-popup__label">
      <button class="form-popup__button button button--dark" type="submit">Отправить</button>
    </div>
  </form>
</div>