<div class="discount-form">
  <div class="discount-form__inner">
    <h3 class="discount-form__title">Хотите получить скидку?</h3>
    <p class="discount-form__note">Хотите сохранить персональную скидку из другого медицинского учреждения?<br> Укажите её название, наш отдел бронирования сделать вам персональное предложение!</p>
    <form class="discount-form__form" action="/">
      <div class="discount-form__row">
        <div>
          <label class="discount-form__form-label" for="name">
            <input class="discount-form__form-input" id="name" type="text" value="" placeholder="Имя">
          </label>
        </div>
        <div>
          <label class="discount-form__form-label" for="phone">
            <input class="discount-form__form-input" id="phone" type="text" value="" placeholder="Телефон">
          </label>
        </div>
      </div>
      <div class="discount-form__row">
        <div>
          <label class="discount-form__form-label" for="email">
            <input class="discount-form__form-input" id="email" type="text" value="" placeholder="Email">
          </label>
        </div>
        <div>
          <label class="discount-form__form-label" for="get_discount">
            <input class="discount-form__form-input" id="get_discount" type="text" value="" placeholder="Введите название клиники">
          </label>
        </div>
      </div>
      <button class="discount-form__form-button" type="submit">Отправить</button>
    </form>
  </div>
</div>