<footer class="footer">
  <div class="footer__inner">
    <div class="footer__top">
      <button class="js-footer-menu-opener footer-menu-opener" type="button" title="Открыть меню"><span class="footer-menu-opener__burger"></span></button>
      <div class="footer__menu footer-menu">
        <div class="footer-menu__inner">
          <ul class="footer-menu__list">
            <li class="footer-menu__list-item footer-menu__title"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Клиника</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="about.html"><span class="footer-menu__link-text">О Клинике</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">О компании</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Номера</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="restoraunt.html"><span class="footer-menu__link-text">Ресторан</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="dosug.html"><span class="footer-menu__link-text">Досуг</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="partners.html"><span class="footer-menu__link-text">Партнеры</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="reviews.html"><span class="footer-menu__link-text">Отзывы</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="contacts.html"><span class="footer-menu__link-text">Контакты</span></a></li>
          </ul>
          <ul class="footer-menu__list">
            <li class="footer-menu__list-item footer-menu__title"><a class="footer-menu__link" href="xmed.html"><span class="footer-menu__link-text">X-медицина</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="philosophy.html"><span class="footer-menu__link-text">Философия</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="spec.html"><span class="footer-menu__link-text">Специалисты</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="methods.html"><span class="footer-menu__link-text">Методики и процедуры</span></a></li>
          </ul>
          <ul class="footer-menu__list">
            <li class="footer-menu__list-item footer-menu__title"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Программы</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Лечебные</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Диагностические</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Для детей</span></a></li>
          </ul>
          <ul class="footer-menu__list">
            <li class="footer-menu__list-item footer-menu__title"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Бронирование</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Цены</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Калькулятор</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Правила бронирования</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Правила размещения</span></a></li>
            <li class="footer-menu__list-item"><a class="footer-menu__link" href="#"><span class="footer-menu__link-text">Способы оплаты</span></a></li>
          </ul>
        </div>
      </div>
      <div class="footer__social">
        <a class="social-link" href="#" title="vk.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--vk" aria-hidden="true"><use xlink:href="#vk"/></svg></a>
        <a class="social-link" href="#" title="facebook.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--fb" aria-hidden="true"><use xlink:href="#fb"/></svg></a>
        <a class="social-link" href="#" title="twitter.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--tw" aria-hidden="true"><use xlink:href="#tw"/></svg></a>
        <a class="social-link" href="#" title="instagram.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--inst" aria-hidden="true"><use xlink:href="#inst"/></svg></a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__subscribe subscribe">
        <h3 class="subscribe__title">Подписаться на рассылку:</h3>
        <form class="subscribe__form" action="/">
          <label class="subscribe__form-label" for="subscribe_email">
            <input class="subscribe__form-input" id="subscribe_email" type="text" value="" placeholder="Ваш e-mail">
          </label>
          <button class="subscribe__form-button" type="submit">Подписаться</button>
        </form>
      </div>
      <div class="footer__copyright-block">
        <div class="footer__logo"><img src="images/logo.svg" alt="XClinic"></div>
        <p class="footer__copyright">© “X-Clinic” Все права защищены</p>
      </div>
    </div>
  </div>
</footer>
