<footer class="footer">
  <div class="footer__inner">
    <div class="footer__social">
      <a class="social-link" href="#" title="vk.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--vk" aria-hidden="true"><use xlink:href="#vk"/></svg></a>
      <a class="social-link" href="#" title="facebook.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--fb" aria-hidden="true"><use xlink:href="#fb"/></svg></a>
      <a class="social-link" href="#" title="twitter.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--tw" aria-hidden="true"><use xlink:href="#tw"/></svg></a>
      <a class="social-link" href="#" title="instagram.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--inst" aria-hidden="true"><use xlink:href="#inst"/></svg></a>
      <a class="social-link" href="#" title="youtube.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--yt" aria-hidden="true"><use xlink:href="#yt"/></svg></a>
    </div>
    <div class="footer__logo"><img src="images/logo.svg" alt="XClinic"></div>
  </div>
</footer>
