<header class="header">
  <div class="header__inner">
    <a class="header__phone-block" href="tel:88003003525">
      <span class="header__phone-title">Телефон в Санкт-Петербурге:</span>
      <span class="header__phone-number">8 800 300 35 25</span>
    </a>
    <button class="js-menu-opener menu-opener" type="button">
      <span class="menu-opener__burger"></span>
      <span class="menu-opener__arrow"><svg class="menu-opener__arrow-icon" aria-hidden="true"><use xlink:href="#arrow_left"/></svg></span>
    </button>
    <a class="logo" href="main.html"><img class="logo__image" src="images/logo.svg" alt="X Clinic"></a>
    <a class="header__booking-button" href="#">On-line бронирование</a>
  </div>
  <nav class="main-menu">
    <ul class="main-menu__list">
      <li class="main-menu__list-item">
        <a class="main-menu__link main-menu__link--color_1" href="#"><span>Клиника</span></a>
      </li>
      <li class="main-menu__list-item">
        <a class="main-menu__link main-menu__link--color_2" href="#"><span>X-медицина</span></a>
      </li>
      <li class="main-menu__list-item">
        <a class="main-menu__link main-menu__link--color_3" href="#"><span>Программы</span></a>
      </li>
      <li class="main-menu__list-item main-menu__list-item--no_desktop">
        <a class="main-menu__link main-menu__link--color_4" href="#"><span>Бронирование</span></a>
      </li>
      <li class="main-menu__list-item">
        <a class="main-menu__link main-menu__link--color_5" href="#"><span>Контакты</span></a>
      </li>
    </ul>
  </nav>
</header>
