<div class="js-main-slider main-slider">
  <a class="main-slider__slide" href="#">
    <img class="main-slider__image" src="images/content/img_1.jpg" alt="">
    <!--<p class="main-slider__slide-title">оздоровительный комплекс</p>-->
    <p class="main-slider__slide-text">Думай иначе. Живи иначе.</p>
    <p class="main-slider__slide-button-block"><span class="main-slider__slide-button">Подробнее</span></p>
  </a>
  <div class="main-slider__slide">
    <img class="main-slider__image" src="images/content/img_20.jpg" alt="">
  </div>
  <div class="main-slider__slide">
    <img class="main-slider__image" src="images/content/img_21.jpg" alt="">
  </div>
  <div class="main-slider__slide">
    <img class="main-slider__image" src="images/content/img_22.jpg" alt="">
  </div>
  <div class="main-slider__slide">
    <img class="main-slider__image" src="images/content/img_23.jpg" alt="">
  </div>
  <div class="main-slider__slide">
    <img class="main-slider__image" src="images/content/img_24.jpg" alt="">
  </div>
</div>
