<ul class="pager">
  <li class="pager__item pager__item--arrow">
    <a class="pager__link" href="#" title="Назад"><svg class="pager__arrow" aria-hidden="true"><use xlink:href="#arrow_left"/></svg></a>
  </li>
  <li class="pager__item">
    <a class="pager__link" href="#">1</a>
  </li>
  <li class="pager__item">
    <span class="pager__link is-active">2</span>
  </li>
  <li class="pager__item">
    <a class="pager__link" href="#">3</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" href="#">...</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" href="#">10</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" href="#">11</a>
  </li>
  <li class="pager__item">
    <a class="pager__link" href="#">12</a>
  </li>
  <li class="pager__item pager__item--arrow">
    <a class="pager__link" href="#" title="Вперёд"><svg class="pager__arrow" aria-hidden="true"><use xlink:href="#arrow_right"/></svg></a>
  </li>
</ul>
