<!--<div id="subscribe-popup" class="subscribe-popup">
  <div class="subscribe-popup__title-block">
    <p class="subscribe-popup__title">Вступайте в закрытое сообщество<br> X-Clinic!</p>
  </div>
  <div class="subscribe-popup__content">
    <form class="subscribe-popup__form" action="/">
      <label class="subscribe-popup__label" for="email">
        <input id="email" class="input input--dark" name="email" type="text" value="" placeholder="E-mail">
      </label>
      <button class="subscribe-popup__button button button--dark" type="submit">Подписаться</button>
    </form>
    <p class="subscribe-popup__subtitle">Подписавшись на наши новости, вы сможете:</p>
    <div class="subscribe-popup__features">
      <div class="subscribe-popup__feature">
        <span class="subscribe-popup__feature-icon">
          <svg aria-hidden="true">
            <use xlink:href="#calendar2" />
          </svg>
        </span>
        Участие в закрытых мероприятиях
      </div>
      <div class="subscribe-popup__feature">
        <span class="subscribe-popup__feature-icon">
          <svg aria-hidden="true">
            <use xlink:href="#heartbeat" />
          </svg>
        </span>
        Новинки антиэйдж медицины
      </div>
      <div class="subscribe-popup__feature">
        <span class="subscribe-popup__feature-icon">
          <svg aria-hidden="true">
            <use xlink:href="#gift" />
          </svg>
        </span>
        Специальные предложения для членов клуба
      </div>
    </div>
  </div>
</div>-->

<div id="subscribe-popup" class="subscribe-popup">
  <div class="subscribe-popup__title-block" style="background-image: url('../images/backgrounds/subscribe_popup_bg_2.jpg')">
    <p class="subscribe-popup__title">Специальные цены на программы<br> X-Clinic</p>
  </div>
  <div class="subscribe-popup__content">
    <p class="text-center" style="font-size: 18px">До конца ноября 2019 года действуют специальные цены на программы <a href="/programs/lechebnie/programma-upgrade-body/">Upgrade Body</a> и <a href="/programs/lechebnie/programma-upgrade-body-mind-/">Upgrade
        Body&Mind</a></p>
    <p class="text-center">
      <a class="subscribe-popup__button button button--dark" href="/programs/">Подробнее</a>
    </p>
  </div>
</div>