<div id="subscribe-popup" class="subscribe-popup">
  <div class="subscribe-popup__title-block">
    <p class="subscribe-popup__title">Вступайте в закрытое сообщество X-Clinic!</p>
  </div>
  <div class="subscribe-popup__content">
    <form class="subscribe-popup__form" action="/">
      <label class="subscribe-popup__label" for="email">
        <input id="email" class="input input--dark" name="email" type="text" value="" placeholder="E-mail">
      </label>
      <button class="subscribe-popup__button button button--dark" type="submit">Подписаться</button>
    </form>
    <p class="subscribe-popup__subtitle">Подписавшись на наши новости, вы сможете:</p>
    <div class="subscribe-popup__features">
      <div class="subscribe-popup__feature">
        <div class="subscribe-popup__feature-num">1</div>
        Участие в закрытых мероприятиях
      </div>
      <div class="subscribe-popup__feature">
        <div class="subscribe-popup__feature-num">2</div>
        Новинки антиэйдж медицины
      </div>
      <div class="subscribe-popup__feature">
        <div class="subscribe-popup__feature-num">3</div>
        Специальные предложения для членов клуба
      </div>
    </div>
  </div>
</div>