<div class="subscribe">
  <div class="subscribe__inner">
    <h3 class="subscribe__title">Подписка на новости</h3>
    <p class="subscribe__subtitle">Узнавайте о новостях и событиях первыми!</p>
    <form class="subscribe__form" action="/">
      <label class="subscribe__form-label" for="subscribe_email">
        <input class="subscribe__form-input" id="subscribe_email" type="text" value="" placeholder="Введите e-mail">
      </label>
      <button class="subscribe__form-button" type="submit">Подписаться</button>
    </form>
    <p class="subscribe__note">В соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006, отправляя любую форму на этом сайте, вы подтверждаете свое<br> <a href="#">согласие на обработку персональных данных</a>.</p>
  </div>
</div>
