.footer
  background-color: #fff
  padding-top: 45px
  padding-bottom: 35px

  @media (min-width: 1200px)
    height: 960px

  &__inner
    max-width: 1440px
    margin-left: auto
    margin-right: auto

  &__logo
    width: 85px

.social-link
  align-items: center
  display: flex
  height: 40px
  justify-content: center
  margin-left: 4px
  margin-right: 4px
  width: 40px

  &:hover
    .social-link__icon
      fill: #f3f3f3

  &:active
    .social-link__icon
      fill: #dcdcdc

  &__icon
    fill: #b8b8b8
    transition: fill 0.3s

    &--vk
      height: 26px
      width: 26px

    &--fb
      height: 22px
      width: 22px

    &--tw
      height: 29px
      width: 29px

    &--inst
      height: 22px
      width: 22px

    &--yt
      height: 22px
      width: 22px
