.header
  background-color: #fff
  box-shadow: 0 0 3px rgba(0,0,0,0.3)
  display: flex
  justify-content: space-between
  left: 0
  min-height: 80px
  margin-left: auto
  margin-right: auto
  //max-width: 1920px
  position: fixed
  top: 0
  width: 100%
  z-index: 100

  //@media(min-width: 768px)
    min-height: 128px

  //@media(min-width: 1200px)
    box-shadow: none
    position: relative

  &__phone-block
    //display: none
    line-height: 1
    left: auto
    position: absolute
    right: 105px
    top: 50%
    transform: translateY(-50%)
    text-decoration: none

    @media(min-width: 375px)
      left: 50%
      right: auto
      transform: translate(-50%, -50%)

    @media(min-width: 1200px)
      align-items: flex-start
      display: flex
      flex-direction: column
      justify-content: center
      left: auto
      margin-left: 0
      margin-right: auto
      padding-left: 40px
      position: static
      top: auto
      transform: none
      width: 240px
      z-index: 2

    @media(min-width: 1600px)
      padding-left: 60px
      //width: 320px

    &:hover
      text-decoration: none

      .header__phone-number
        text-decoration: underline

  &__phone-title
    color: #97999b
    font-size: 12px
    display: none
    margin-bottom: 8px

    @media(min-width: 1200px)
      display: block

    //@media(min-width: 1600px)
      font-size: 15px

  &__phone-number
    color: #101820
    display: inline-block
    font-size: 14px
    padding-top: 10px
    padding-bottom: 10px
    white-space: nowrap

    @media(min-width: 375px)
      font-size: 16px

    @media(min-width: 768px)
      font-size: 16px
      padding-top: 0
      padding-bottom: 0

    //@media(min-width: 1600px)
      font-size: 20px

  &__booking-button
    align-items: center
    background-color: #f1f2fa
    color: #101820
    display: none
    font-size: 15px
    height: 80px
    justify-content: center
    position: relative
    text-align: center
    text-decoration: none
    width: 240px
    z-index: 101

    @media(min-width: 768px)
      display: flex

.logo
  align-items: center
  background-color: #fff
  display: flex
  height: 80px
  justify-content: center
  left: auto
  right: 0
  position: absolute
  transform: translateY(-50%)
  top: 50%
  text-align: center
  width: 96px
  z-index: 102

  @media(min-width: 768px)
    left: 50%
    right: auto
    transform: translate(-50%, -50%)
    width: 290px
    z-index: 103

  @media(min-width: 1200px)
    width: 160px
    z-index: 2

  &__image
    flex-shrink: 0
    width: 54px

    @media(min-width: 768px)
      width: 68px
