.header
  background-color: #fff
  left: 0
  min-height: 80px
  position: fixed
  top: 0
  width: 100%
  z-index: 100

  @media(min-width: 768px)
    min-height: 160px

  @media(min-width: 1200px)
    position: relative

  &__inner
    background-color: #fff
    display: flex
    justify-content: space-between
    left: 0
    margin-left: auto
    margin-right: auto
    max-width: 1920px
    position: fixed
    top: 0
    width: 100%
    z-index: 101

    @media(min-width: 1200px)
      position: static

  &__phone-block
    display: none
    line-height: 1
    text-decoration: none

    @media(min-width: 1200px)
      align-items: flex-start
      display: flex
      flex-direction: column
      justify-content: center
      padding-left: 30px
      width: 240px

    @media(min-width: 1600px)
      padding-left: 60px
      width: 320px

    &:hover
      text-decoration: none

      .header__phone-number
        text-decoration: underline

  &__phone-title
    color: #97999b
    font-size: 13px
    display: block
    margin-bottom: 10px

    @media(min-width: 1600px)
      font-size: 15px

  &__phone-number
    color: #101820
    font-size: 18px

    @media(min-width: 1600px)
      font-size: 20px

  &__booking-button
    align-items: center
    background-color: #f1f2fa
    color: #101820
    display: none
    font-size: 16px
    height: 160px
    justify-content: center
    text-align: center
    text-decoration: none
    width: 240px

    @media(min-width: 768px)
      display: flex

    @media(min-width: 1600px)
      font-size: 18px
      width: 320px

.menu-opener
  background-color: #f1f2fa
  border: none
  cursor: pointer
  height: 80px
  padding: 0
  text-align: center
  width: 96px

  @media(min-width: 768px)
    height: 160px
    width: 240px

  @media(min-width: 1200px)
    display: none

  &__burger
    background-color: #abadca
    display: inline-block
    height: 1px
    position: relative
    vertical-align: middle
    width: 24px

    @media(min-width: 768px)
      background-color: #7b7faa
      width: 48px

    &::after,
    &::before
      background-color: #abadca
      content: ""
      height: 1px
      left: 0
      position: absolute
      top: 8px
      width: 24px

      @media(min-width: 768px)
        background-color: #7b7faa
        width: 48px

    &::before
      top: -8px

  &__arrow
    display: none
    height: 11px
    overflow: hidden
    position: relative
    top: 2px
    text-align: left
    width: 24px

    @media(min-width: 768px)
      width: 68px

  &__arrow-icon
    display: block
    fill: #7b7faa
    height: 11px
    margin-left: -4px
    width: 68px

  &.is-active
    z-index: 101

    .menu-opener__burger
      display: none

    .menu-opener__arrow
      display: inline-block

.logo
  align-items: center
  background-color: #fff
  display: flex
  height: 80px
  justify-content: center
  left: auto
  right: 0
  position: absolute
  transform: translateY(-50%)
  top: 50%
  text-align: center
  width: 96px
  z-index: 1

  @media(min-width: 768px)
    height: 160px
    left: 50%
    right: auto
    transform: translate(-50%, -50%)
    width: 288px

  @media(min-width: 1200px) and (max-width: 1599px)
    width: 160px

  @media(min-width: 1200px)
    z-index: 2

  &__image
    flex-shrink: 0
    width: 54px

    @media(min-width: 768px)
      width: 85px
