.last-news-block
  margin-bottom: 80px

  @media(min-width: 768px)
    margin-bottom: 120px

  &__small-title
    margin-bottom: 100px

    @media(min-width: 1200px)
      margin-right: 78px
      text-align: right

  &__title
    margin-bottom: 35px
    padding-left: 40px
    padding-right: 40px
    text-align: center

    @media(min-width: 768px)
      margin-bottom: 80px
      margin-left: auto
      margin-right: auto
      max-width: 490px

    @media(min-width: 1200px)
      margin-right: 78px
      margin-bottom: 0
      padding-left: 0
      padding-right: 0
      text-align: right

.last-news-slider
  max-width: 480px
  margin-left: auto
  margin-right: auto
  margin-bottom: 80px

  @media(min-width: 768px)
    max-width: 100%
    margin-bottom: 160px

  .slick-track
    background-color: #fff

  .slick-dots
    bottom: -54px
    display: flex
    justify-content: center

    @media(min-width: 768px)
      bottom: -105px

    li
      margin-left: 3px
      margin-right: 3px

      @media(min-width: 768px)
        margin-left: 16px
        margin-right: 16px

.last-news
  background-color: #fff
  display: flex
  flex-direction: column
  max-width: 480px
  text-decoration: none

  &--reverse
    @media(min-width: 768px)
      flex-direction: column-reverse

  &:hover,
  &:focus
    text-decoration: none

    .last-news__title
      text-decoration: underline

  &__image
    height: 320px
    position: relative
    overflow: hidden

    @media(min-width: 768px)
      height: 480px

    img
      left: 50%
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)

      @media(min-width: 768px)
        max-width: initial
        width: 480px

  &__description
    display: flex
    flex-direction: column
    justify-content: center
    padding: 48px

    @media(min-width: 768px)
      min-height: 480px

    @media(min-width: 1400px)
      padding: 78px

  &__date
    color: #7c80aa
    font-size: 18px
    line-height: 24px
    margin-bottom: 30px

  &__title
    font-size: 26px
    line-height: 34px
    margin-bottom: 30px

  &__announce
    font-size: 16px
    line-height: 30px
    margin-bottom: 30px

    &:last-child
      margin-bottom: 0

  &__section
    color: #7c80aa
    font-size: 18px
    font-weight: 600
    line-height: 24px

.last-news-button-block
  text-align: center
