.lines

  @media(min-width: 768px)
    margin-top: -160px

  @media(min-width: 960px)
    display: flex

.line
  color: #fff
  display: block
  font-size: 18px
  font-weight: 600
  line-height: 20px
  padding-top: 110px
  padding-bottom: 110px
  text-decoration: none
  text-transform: uppercase
  text-align: center

  @media(min-width: 768px)
    height: 0
    padding-bottom: 480px
    padding-top: 0
    margin-left: auto
    margin-right: auto
    max-width: 480px
    position: relative
    width: 480px

  @media(min-width: 960px)
    padding-bottom: calc(100% / 3)
    width: calc(100% / 3)

  &::after
    @media(min-width: 768px)
      content: ""
      height: 100%
      left: 0
      opacity: 0.5
      position: absolute
      top: 0
      transition: opacity 0.3s
      width: 100%
      z-index: 1

  &--bg_1
    background-color: #9ea1bd

    &::after
      @media(min-width: 768px)
        background-color: #9ea1bd

  &--bg_2
    background-color: #7b7faa

    &::after
      @media(min-width: 768px)
        background-color: #7b7faa

  &--bg_3
    background-color: #9bb8ac

    &::after
      @media(min-width: 768px)
        background-color: #9bb8ac

  &:hover
    text-decoration: none

    .line__text
      &::after
        opacity: 1

    &::after
      opacity: 0

  @media(min-width: 960px)
    display: flex

  &__image
    display: none
    left: 0
    top: 0

    @media(min-width: 768px)
      display: block
      left: 0
      position: absolute
      top: 0
      width: 100%
      z-index: 1

  &__text
    position: relative

    @media(min-width: 768px)
      left: 50%
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)
      z-index: 2

    &::after
      border-bottom: 3px solid #fff
      bottom: -20px
      content: ""
      height: 2px
      left: 0
      opacity: 0
      position: absolute
      top: auto
      transition: opacity 0.3s
      width: 100%
