.main-slider
  height: 480px
  max-width: 1920px
  margin-left: auto
  margin-right: auto

  @media(min-width: 768px)
    height: 704px
    margin-bottom: -128px

  &__slide
    align-items: center
    color: #fffefe
    display: flex !important
    flex-direction: column
    justify-content: center
    height: 480px
    overflow: hidden
    padding-left: 48px
    padding-right: 48px
    padding-bottom: 120px
    position: relative
    text-decoration: none

    &:hover
      text-decoration: none

    @media(min-width: 768px)
      height: 704px
      padding-bottom: 256px

    @media(min-width: 1400px)
      padding-bottom: 312px

    &--dark_text
      color: #101820

  &__image
    flex-shrink: 0
    height: 480px
    left: 50%
    min-width: 1048px
    max-width: initial
    position: absolute
    top: 0
    transform: translateX(-50%)
    width: auto

    @media(min-width: 768px)
      height: 704px
      min-width: 1536px

  &__slide-title,
  &__slide-text,
  &__slide-button-block
    position: relative
    text-align: center
    z-index: 1

  &__slide-title,
  &__slide-text
    max-width: 100%

  &__slide-title
    font-size: 16px
    margin-bottom: 40px
    text-transform: uppercase

    @media(min-width: 768px)
      font-size: 16px

    &:last-child
      margin-bottom: 0

  &__slide-text
    font-size: 30px
    line-height: 1.1
    margin-bottom: 0

    @media(min-width: 384px)
      font-size: 40px

    @media(min-width: 768px)
      font-size: 48px

    &:last-child
      margin-bottom: 0

  &__slide-button-block
    margin-bottom: 0
    margin-top: 60px

    @media(max-width: 767px)
      display: none

  &__slide-button
    align-items: center
    border: 2px solid #fff
    color: #fff
    display: flex
    font-size: 15px
    font-weight: 600
    height: 64px
    justify-content: center
    text-align: center
    width: 192px

  .slick-dots
    bottom: 80px

    @media(min-width: 768px)
      bottom: 200px

    li
      //margin-left: 3px
      //margin-right: 3px

      //@media(min-width: 768px)
        margin-left: 16px
        margin-right: 16px

      button
        &::before
          background-color: #fff

      &.slick-active
        button
          border-color: #fff

          &::before
            background-color: #fff

  .slick-prev
    left: 48px

    @media(min-width: 1400px)
      left: 78px

  .slick-next
    right: 48px

    @media(min-width: 1400px)
      right: 78px
