.review
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1)
  margin-bottom: 20px

  @media(min-width: 600px)
    display: flex
    margin-bottom: 48px

  &:last-child
    margin-bottom: 0

  &--reverse
    @media(min-width: 600px)
      flex-direction: row-reverse

  &__avatar-block
    background-color: #e6e8f6
    color: #222
    padding: 24px
    text-align: center

    @media(min-width: 600px)
      min-width: 200px

    @media(min-width: 768px)
      padding: 48px

    @media(min-width: 960px)
      min-width: 320px

  &__avatar
    margin-bottom: 30px

    img
      border-radius: 50%
      display: inline-block

  &__author-name
    font-size: 17px

  &__author-about

  &__text-block
    background-color: #fff
    padding: 24px
    position: relative

    @media(min-width: 768px)
      padding: 48px

    &::before,
    &::after
      @media(min-width: 768px)
        color: #f1f2fa
        content: '“'
        font-size: 170px
        line-height: 0px
        pointer-events: none
        position: absolute

    &::before
      left: 40px
      top: 60px

    &::after
      bottom: 60px
      right: 40px
      transform: rotate(180deg)
      transform-origin: 50% 50% 0

  &__title
    color: #222
    font-size: 18px

    @media(min-width: 768px)
      font-size: 24px

.reviews-slider
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1)
  margin-bottom: 80px

  @media(min-width: 768px)
    margin-bottom: 160px

  .slick-dots
    bottom: -54px
    display: flex
    justify-content: center

    @media(min-width: 768px)
      bottom: -105px

  .slick-prev
    left: -24px

    @media(min-width: 1400px)
      left: -88px

    @media(min-width: 1500px)
      left: -128px

  .slick-next
    right: -24px

    @media(min-width: 1400px)
      right: -88px

    @media(min-width: 1500px)
      right: -128px

  .slick-prev__icon,
  .slick-next__icon
    fill: #7b7faa
